.box1 {
  background-color: #3f51b5;
  height: 120px;
}
.box2 {
  background-color: #303f9f;
  height: 60px;
}
.redes {
  font-size: 60px;
  color: white;
}

.textos {
  color: white;
}
